{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">Lista de Usuarios</h1>

    <h4><a href="{% url 'usuario_app:Alta de usuario' %}" class="btn btn-primary" role="button">Crear usuario</a></h4>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.get_full_name }}</td>
            <td>{{ usuario.email }}</td>
            <td>
              <a href="{% url 'usuario_app:Detalle de usuario' usuario.id %}" class="btn btn-info btn-sm">Detalles</a>
              <a href="{% url 'usuario_app:Modificar usuario' usuario.id %}" class="btn btn-warning btn-sm">Editar</a>
              <a href="{% url 'usuario_app:Eliminar usuario' usuario.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}