{% extends 'base.html' %}


{% block content %}

<div class="container py-5">
    <div class="card mx-auto shadow">
        <div class="card-header">
            <h5 class="card-title text-center">Restablecimiento de contraseña</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Hola {{ nombre_usuario }},</p>
            <p class="card-text">Te escribimos para informarte que has solicitado un restablecimiento de contraseña para tu cuenta en <strong>TareasProject</strong></p>
            <p class="card-text">Para restablecer tu contraseña, haz clic en el siguiente botón:</p>
            <a href="{{ link_restablecimiento }}" class="btn btn-primary w-100">Restablecer contraseña</a>
            <p class="card-text mt-3">**Este enlace solo es válido durante las próximas 24 horas.**</p>
            <p class="card-text">Si no has solicitado un restablecimiento de contraseña, ignora este mensaje.</p>
        </div>
        <div class="card-footer text-center">
            <p>Atentamente,</p>
            <p>El equipo de <strong>TareasProject</strong></p>
        </div>
    </div>
</div>
    
{% endblock content %}
    