{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <header>
        {# Aquí puedes añadir el logo y la navegación #}
    </header>

    <h2 class="text-center mb-4">Restablecimiento de Contraseña</h2>

    <p>Se ha enviado un correo electrónico con un enlace para restablecer su contraseña. Revise su bandeja de entrada y siga las instrucciones.</p>

    <p>Si no recibe el correo electrónico en unos minutos, revise su carpeta de correo no deseado o spam.</p>

    <a href="{% url 'login' %}" class="btn btn-link">Volver al inicio de sesión</a>
</div>

{% endblock content %}