<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas Project</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inicio' %}">TareasProject</a>
    
        <!-- Botón para dispositivos pequeños -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
            </li>
    
            {% if user.is_authenticated %}
              <!-- Mostrar opciones para usuarios autenticados -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'proyecto_app:Lista de Proyecto' %}">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'proyecto_app:Buscar Proyecto' %}">Buscar Proyecto</a>
              </li>
            {% else %}
              <!-- Mostrar opciones para usuarios no autenticados -->
              <li class="nav-item">
                <a class="nav-link" href="#">Sobre Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>
            {% endif %}
              
            {% if user.is_authenticated and user.is_superuser %}
            <!-- Mostrar opción "Seguridad" solo para administradores -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'usuario_app:Lista de usuario' %}">Seguridad</a>
            </li>
            {% endif %}
          </ul>
    
          <ul class="navbar-nav ms-auto">
            <!-- Mostrar opciones de autenticación -->
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ user.avatar.url }}" alt="{{ user.username }}" class="avatar-img img-fluid" style="max-width: 40px;">
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" data-bs-auto-close="outside">
                    <a class="dropdown-item" href="{% url 'usuario_app:Detalle de usuario' user.id %}">Mi perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'usuario_app:Logout de usuario' %}">Cerrar sesión</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'usuario_app:Login de usuario' %}">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'usuario_app:Alta de usuario' %}">Registro</a>
            </li>
            {% endif %}
        </ul>
        </div>
      </div>
    </nav>
  
  {% block content %}
      
  {% endblock content %}
  
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>