{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="mt-4 mb-4">Lista de Proyectos</h1>

    {% if user.is_authenticated and user.is_superuser %} #Si el usuario es super puede crear proyecto
    <a href="{% url 'proyecto_app:Alta de Proyecto' %}" class="btn btn-success mb-2">Crear Proyecto</a>    
    {% endif %}
        

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
                <tr>
                    <td>{{ proyecto.nombre }}</td>
                    <td>{{ proyecto.estado }}</td>
                    <td>
                        <a href="{% url 'proyecto_app:Detalle del Proyecto' proyecto.id %}" class="btn btn-info btn-sm">Detalles</a>
                        <a href="{% url 'proyecto_app:Modificar Proyecto' proyecto.id %}" class="btn btn-warning btn-sm">Modificar</a>
                        <a href="{% url 'proyecto_app:Eliminar Proyecto' proyecto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}


