{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="mt-4 mb-4">Lista de Proyectos</h1>

    {% if user.is_authenticated and user.is_superuser %}
    <div class="row mb-3">
        <div class="col-md-6">
            <a href="{% url 'proyecto_app:Alta de Proyecto' %}" class="btn btn-success">Crear Proyecto</a>    
        </div>
        <div class="col-md-6">
            <form method="GET" class="input-group">
                <input type="text" class="form-control" placeholder="Nombre" id="kword" name="kword">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
                <tr>
                    <td>{{ proyecto.nombre }}</td>
                    <td>
                        
                        {% if proyecto.estado == 'Activo' %}
                            <span class="badge bg-success">{{ proyecto.estado }}</span>
                        {% elif proyecto.estado == 'Detenido' %}
                            <span class="badge bg-danger">{{ proyecto.estado }}</span>
                        {% else %}
                            <span class="badge bg-primary">{{ proyecto.estado }}</span>
                        {% endif %}
        
                    </td>
                    <td>
                        <a href="{% url 'proyecto_app:Detalle del Proyecto' proyecto.id %}" class="btn btn-info btn-sm">Detalles</a>
                        {% if user.is_authenticated and user.is_superuser %}
                            <a href="{% url 'proyecto_app:Modificar Proyecto' proyecto.id %}" class="btn btn-warning btn-sm">Modificar</a>
                            <a href="{% url 'proyecto_app:Eliminar Proyecto' proyecto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}


