{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ tarea.titulo }}</h2>
        <p class="card-text">{{ tarea.descripcion }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Fecha de Vencimiento:</strong> {{ tarea.fecha_vencimiento }}</li>
          <li class="list-group-item"><strong>Estado:</strong> {{ tarea.estado }}</li>
          <li class="list-group-item"><strong>Proyecto:</strong> {{ tarea.proyecto }}</li>
          <li class="list-group-item">
            <strong>Categoría:</strong>
            {% for categoria in tarea.categoria.all %}
              {{ categoria.nombre }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </li>
          <li class="list-group-item"><strong>Asignado a:</strong> {{ tarea.usuario_asignado }}</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}